<html>
    <head>
        <title>ERROR</title>
        <%- include common/head.ejs %>
    </head>
    <body>
        <%- include common/menu.ejs %>
        

        <div class="content">
            <div class="post-item"></div>
            <h2 class="post-title-wrapper">
                <p class="post-title"></p>
            </h2>
            <div class="post-content">
                <div style='text-align:center; font-size: 30px; letter-spacing: 2px;'>404  NOT  FUND</div>
            </div>
        </div>


        <%- include common/foot.ejs %>
    </body>
</html>