<div class="header">
            <div class="header__title">
                <a href="/" style="font-size: 36px;color: #fff;font-family: fantasy;">daijinma</a>
            </div>
            <div class="header__archive">
                <a href="/list">
                    <figure class="header__archive__image"></figure>
                    <span class="header__archive__title">list</span>
                </a>
            </div>
            <div class="header__about">
                <a href="/about">
                    <figure class="header__about__image"></figure>
                    <span class="header__about__title">about</span>
                </a>
            </div>
            <div class="header__github">
                <a href="https://github.com/daijinma" target="_blank">
                    <figure class="header__github__image"></figure>
                    <span class="header__github__title">github</span>
                </a>
            </div>
            <div class="header__feed">
                <!-- <a href="/atom.xml">
                    <figure class="header__feed__image"></figure>
                    <span class="header__feed__title">feed</span>
                </a> -->
            </div>
            <div class="header__notes"></div>
        </div>